{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "^[a-z]", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always"
}
